#title
{
    background-color: #1e7c23;
    color: #fff;
}
.container-fluid
{
    padding: 0% 10% 0%;
}
.navbar 
{
   margin-bottom: 3%;
   
}
.navbar-brand
{
     font-family: 'Ubuntu', sans-serif;
     font-size: x-large;
     margin-left: 3%;
}
.navbar-nav
{
    margin-left: auto;
}
.nav-item
{
    padding: 0 2.5rem;
}
.download-button
{
    margin: 5% 3% 7% 0 ;
}
h1
{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 3rem bolder; */
    font-weight: 1000;
    line-height: 1.5;
    text-align: center;

}
h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem bold;
    line-height: 1.5;
}
#features
{
    padding: 7% 15%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    
}
/* .title-image
{
    width: 60%;
   
    
    transform:rotate(20deg) ;
     position: absolute; 
} 
*/

.icons
{
    margin: 5% 25%;
    /* padding: 5%; */
}

.Features
{
    text-align: center;
    padding: 5%;
}
h3
{
    /* font-family: 'Montserrat-bold'; */
    /* padding: 5%; */
    font-size: 2.5rem;
}
p{
    color: #8f8f8f;
}
.icon
{
    color: #5ff75a;
}
.icon:hover
{
    color: #1e7c23;
}
#testimonials
{
    padding: 5% 15%;
    text-align: center;
    background-color: #9dca62;
    color: #fff;
}
.testimonials-text
{
    padding-top: 10%;
    font-size: 1.5rem;
    text-align: center justify;

}
.contro
{
    padding-top: 20%;
    font-size: 2.0rem;
    color: rgb(94, 93, 93);
}
.title-image
{
    
    width: 130%;
    /* border-radius: 100%; */
    /* margin: 20px; */
    /* padding: 5%; */
    padding-bottom: 0%;
}
#press
{
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}
.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item
{
    padding: 7% 15%;
}
#pricing
{
    padding: 100px;
}
.pricing-colm
{
    padding: 3% 2%;
    text-align: center;
}
@media (max-width:1028px) {
    #title
    {
        text-align: center;
    }
    .title-image
    {
        transform: rotate(0);
    }
    
}
/*  Call to Action */
#cta
{
  text-align: center;
  background-color: #1e7c23;
  padding: 5% 3%;
   
}
.cta-1{
    font-family: 'Montserrat-bold';
    font-weight: bolder;
    /* font-size: .85rem; */
    color: #fff;
    border: 1px solid b;
}
#footer
{
    text-align: center;
    padding: 7% 7%;
    font-family: 'Montserrat-bold';
    font-weight: bolder;
}
.footer-image
{
    padding: 2% 1%;
}
.title-text
{
    /* padding-top: 15%; */
    text-align: left;
}
.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.form-group label {
    font-family: 'Baloo Bhai', cursive;
    text-align: left;
    display: block;
    width: 400px;
    padding: 1px;

    margin: 11px auto;
    font-size: 20px;

}

.form-group small {
    font-family: 'Baloo Bhai', cursive;
    text-align: left;
    display: block;
    width: 400px;
    margin: 11px auto;

}

.form-group button {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    margin: 11px auto;


}
.search{
    margin-top: 4%;
    align-items: center;
}
.menu
{
    align-items: center;
}
.FirstName
{
    font-family: 'Baloo Bhai', cursive;
    text-align: 15%;
    display: block;
    width: 400px;
    padding: 1px;
    margin: 11px auto;
    font-size: 25px;
}